/* .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-rows: 2fr 5fr;

  grid-auto-rows: 10px;
}

.box {
  background-color: red;
} */

.container {
  display: grid;
  grid-template-areas:
    "cat1 cat2 cat3"
    "cat4 cat5 cat6"
    "cat7 cat8 cat9";
}
